:root {
    --light: #d8dbe0;
    --dark: #28292c;
}
  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, black, rgb(48, 47, 47));
    height: 100vh;
    position: relative;
}

nav {
    display: flex;
    width: 100vw;
}

.home-icon {
    width: 20px;
    height: 20px;
}

.nav-right {
    display: flex;
    margin-left: auto;
}

.toggle-switch {
position: relative;
width: 50px;
}

label {
position: absolute;
width: 100%;
height: 25px;
background-color: var(--dark);
border-radius: 50px;
cursor: pointer;
}

input {
position: absolute;
display: none;
}

.slider {
position: absolute;
width: 100%;
height: 100%;
border-radius: 50px;
transition: 0.3s;
}

input:checked ~ .slider {
background-color: var(--light);
}
  
.slider::before {
content: "";
position: absolute;
top: 3.25px;
left: 4px;
width: 18.75px;
height: 18.75px;
border-radius: 50%;
box-shadow: inset 7px -1px 0px 0px var(--light);
background-color: var(--dark);
transition: 0.3s;
}
  
input:checked ~ .slider::before {
transform: translateX(23.75px);
background-color: var(--dark);
box-shadow: none;
}
  

h1 {
    color: rgb(240, 241, 236)
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }