*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    scroll-behavior: smooth;
    
}

.dark {
    --light: #d8dbe0;
    --dark: #28292c;
    --dark-transparent: #28292cc2;
}

.light {
    --light: #28292c;
    --dark: #d8dbe0;
    --dark-transparent: #d8dbe0be;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("assets/leafshadow640x960.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    display: flex;
    width: 100vw;
    height: 50px;
    background-color: var(--dark-transparent);
    align-items: center;
    padding: 5px 0px;
    margin-right: 5px;
    position: sticky;
    top: 0;
    z-index: 6;
}

.home-link {
    margin-right: auto;
    flex: auto;
}

.home-icon {
    width: 25px;
    height: 25px;
    margin: 5px;
    transition: transform 1s ease-out;
}

.link:hover {
    transform: scale(110%);
    text-shadow: 3px 3px 3px black;
}

.home-icon:hover {
    transform: scale(125%);
}

.nav-right {
    display: flex;
    flex-direction: row;
    margin-right: 5px;
}

.link {
    color: var(--light);
    font-size: 1.125rem;
    text-decoration: none;
    transition: transform 1s ease-out;
    margin-right: 10px;
}

.projects-top {
    position: relative;
}

.projects-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    animation: expand 1s ease-in-out;
    transform-origin: top;
    z-index: 1;
    background-color: var(--dark-transparent);
    top: 50px;
    text-align: center;
}

.projects {
    height: 50px;
    padding: 5px;
}

.visible {
    display: flex;

}

.toggle-switch {
    position: relative;
    width: 50px;
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.slider-label {
    position: absolute;
    width: 100%;
    height: 25px;
    background-color: var(--dark);
    border-radius: 50px;
    cursor: pointer;
    border: 1px var(--light) solid;
}

.slider-input {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
}

input:checked ~ .slider {
    background-color: var(--light);
}
  
.slider::before {
    content: "";
    position: absolute;
    top: 2.125px;
    left: 4px;
    width: 18.75px;
    height: 18.75px;
    border-radius: 50%;
    box-shadow: inset 7px -1px 0px 0px var(--light);
    background-color: var(--dark);
    transition: 0.3s;
}
  
input:checked ~ .slider::before {
    transform: translateX(23.75px);
    background-color: var(--dark);
    box-shadow: none;
}

.h1 {
    font-size: 3rem;
    animation-duration: 1.5s;
    animation-name: slidein;
    animation-timing-function: ease-out;
    margin-top: 50px;
}

.delayed {
    animation-name: slidein-after;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    margin-bottom: 50px;
}

.h1, h2 {
    color: var(--light);
    text-align: center;
    margin: 0 auto;
    font-weight: 900;
    text-shadow: 2px 2px 2px var(--dark);

}

h2 {
    font-size: 3.125rem;
    padding: 30px 0px;
    margin-top: 50px;
}

h3 {
    color: var(--light);
    font-size: 2.5rem;
    margin-left: 10px;
    padding-top: 50px;
}

.h1-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    overflow: hidden;
}

.home-menu-wrapper {
    background-color: var(--dark-transparent);
    margin: 0px 10vw;
    animation: fadein 2.5s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-fern {
    width: 100px;
    height:100px;
}

.home-menu-inner-wrapper {
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border: 1px var(--light) solid;
    width: 97%;
}

.links-div {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.home-menu-link {
    padding: 10px;
    font-size:  2rem;
    font-weight: 500;
}

.vc-text-5 {
    text-decoration: none;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: thin var(--light);
}
 
.vc-text-5:hover {
   -webkit-text-fill-color: var(--light);
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin: 5vw 10vw;
    background-color: var(--dark-transparent);
}

.profile-photo {
    width: 150px;
    height: 150px;
    padding-bottom: 40px;
}

.about-text {
    color: var(--light);
    font-size: 1.3rem;
}

.skills {
    overflow: hidden;
    background-color: var(--dark-transparent);
    width: 100vw;
    white-space: nowrap;
    display: flex;
    margin-top: 50px;
    position: relative;
}

.skills:before,
.skills:after {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100px;
    height: 100%;
    content: "";
}

.skills:before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255, 0), var(--dark-transparent), var(--dark));
}

.skills:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--dark-transparent), var(--dark));
}

.skills:hover .skills-slider {
    animation-play-state: paused;
}

.skills-slider {
    display: flex;
    align-items: center;
    height: 200px;
    animation: 35s slider infinite linear;
}

.skill-wrapper {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light);
    font-weight: 800;
    margin: 5px 20px;
    padding: 5px;
    border: 0.5px var(--light) dashed;
}

.skill-icon {
    height: 100px;
    width: 100px;
    margin: 10px;
}

.skill-icon + span {
    font-size: 0.8rem;
}

.projects-container {
    background-color: var(--dark-transparent);
    padding: 10px;
}

.project {
    background-color: var(--dark);
    padding: 10px;
    margin: 50px 10px;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-wrapper {
    background-color: var(--dark-transparent);
    width: 80vw;
    padding: 5px;
}

form {
    display: flex;
    flex-direction: column;
    color: var(--light);
    font-family: inherit; 
    font-size: 100%;
}

.contact-input {
    color: var(--light);
    background-color: var(--dark-transparent);
    border: 1px var(--light) solid;
    margin: 5px;
    padding: 10px;
    font-weight: 300;
    border-radius: 3px;
}

#name, #email {
    height: 40px;
}

.contact-input:valid { 
    border-color: #207e38;
} 
.contact-input:invalid:required {
    border-color: var(--light); 
}

.contact-input::placeholder {
    color: var(--light);
    font-weight: 700;
}

button {
    border: none;
    border-radius: 5px;
    color: var(--dark);
    background-color: var(--light);
    font-weight: 700;
    width: 100px;
    align-self: center;
    padding: 10px 0px;
    font-size: 1rem;
    transition: background-color 1s linear, transform 1s ease-out;
    margin: 10px;
}

button:hover {
    color: var(--light);
    background-color: var(--dark);
    border: 0.5px var(--light) solid;
    transform: scale(125%);
}

.contact-link {
    height: 30px;
    width: 30px;
    margin: 10px 5px;
    fill: var(--light);
}

.mail-icon {
    fill: var(--light);
    height: 20px;
    width: 20px;
}

.email-address {
    color: var(--light);
    font: 1rem;
}

.white-fill {
    fill: var(--light);
} 

.contact-link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}

.fern {
    width: 100px;
    height:100px;
    padding:20px 0px;
}

footer {
    color: var(--light);
    background-color: var(--dark-transparent);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    text-align: center;
    font-size: 0.5rem;
}

.copyright {
    margin: 5px 0px;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

@keyframes expand {
    0% {
        transform: scaleY(0);
    }
    70% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slidein {
    0% {
        margin-left: 75%;
        width: 250%;
        transform: scale(0);
    }
    50% {
        margin-left: 50%;
        width: 200%;
    }
    75% {
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
    }
    100% {
        margin-left: 0%;
        width: 100%;
        transform: scale(1);
    }
}

@keyframes slidein-after {
    0% {
        margin-left: 100%;
        width: 300%;
        transform: scale(0);
    }
    75% {
        margin-left: 75%;
        width: 250%;
    }
    100% {
        margin-left: 0%;
        width: 100%;
        transform: scale(1);
    }
}

@keyframes slider {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }

}


@media only screen and (min-width: 800px) {
    body {
        background-image: url("assets/leafshadow1920x2881.jpg");
    }

    nav {
        height: 60px;
    }

    .projects {
        height: 60px;
    }

    .projects-menu {
        top: 60px;
    }

    .link {
        font-size: 1.375rem;
        margin-right: 30px;
    }

    .projects {
        height: 60px;
    }

    .h1 {
        font-size: 5rem;
    }

    .delayed {
        padding-top: 75px;
    }

    .menu-fern {
        width: 200px;
        height: 200px;
    }

    .links-div {
        display: flex;
        flex-direction: column;
        padding-left: 200px;
    }

    .home-menu-link {
        font-size: 3.5rem;
    }

    footer {
        font-size: 1.25rem;
    }

    .home-icon {
        width: 30px;
        height: 30px;
        margin: 8px;
    }

    .toggle-switch {
        transform: scale(125%);
        margin-left: 8px;
        margin-right: 20px;
    }

    .about-wrapper {
        display: flex;
        flex-direction: row;
    }

    .profile-photo {
        padding-right: 40px;
        padding-bottom: 0px;
    }

    .skills:before,
    .skills:after {
        width: 250px;
    }

    form {
        margin-top: 100px;
    }

    .contact-input {
        font-size: 1.2rem;
        margin: 10px 100px;
    }

    .mail-icon {
        height: 30px;
        width: 30px;
    }

    .contact-link {
        height: 40px;
        width: 40px;
        margin: 5px 10px 10px 10px;
    }

    .email-address {
        margin-right: 50px;
        font-size: 1.4rem;
    }

    .fern {
        width: 200px;
        height: 200px;
        padding: 30px 0px;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        background-image: url("assets/leafshadow2400x3601.jpg");
    }

    .link {
        font-size: 1.563rem;
    }

    footer {
        font-size: 1.375rem;
    }

    .home-icon {
        width: 40px;
        height: 40px;
    }

    .contact-wrapper {
        margin-top: 30px;
    }

    .contact-link {
        height: 50px;
        width: 50px;
        margin: 5px 20px 10px 20px;
    }

    .fern {
        width: 300px;
        height: 300px;
        padding: 30px 0px;
    }
}